---
apiVersion: v1
kind: Service
metadata:
  name: producer-service
  namespace: app-ns
spec:
  selector:
    app: producer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  name: consumer-service
  namespace: app-ns
spec:
  selector:
    app: consumer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: contract-service
  namespace: app-ns
spec:
  selector:
    app: contract
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
